/********* variables *********/

:root {
  --brand-color: #3cdbc0;
  --menu-text: #4a4a4a;
  --white-color: #fff;
}

/********* reset styles *********/

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

/******** main styles *********/

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1rem; /* necesario ? */
}

/* header */

.header {
  position: fixed; /* fixed header at the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center; /* vertically centered */
}

/* responsive logo container */

.logo-container {
  max-width: 155px;
  margin: 10px auto;
}

.logo {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.menu-item {
  padding-right: 13px;
}

.link {
  padding: 15px 0px; /* bigger clickable space for better UX*/
  cursor: pointer;
}

/* main content */

.main {
  height: 100vh;
  background-color: var(--brand-color);
  display: flex;
  justify-content: center; /* horizontally centered */
  align-items: center; /* vertically centered */
  text-align: center; /* vertically centered title blocks */
}

.title {
  color: var(--white-color);
  font-size: 1.875rem;
}

.title-block {
  display: block;
  margin: 5px 0;
}


/******* media queries: tablet and desktop styles *******/

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* vertically centered */
  }

  .logo-container {
    margin: 20px 30px;
  }

  .menu-list {
    padding-right: 30px;
    margin-bottom: 0;
  }

  .menu-item {
    padding-right: 20px;
  }

  .title {
    font-size: 2.5rem;
  }
}
