/* variables */

:root {
  --brand-color: #3CDBC0;
  --menu-text: #4a4a4a;
  --white-color: #fff;
}


/* reset styles */

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
}


/* main styles */

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem; /* necesario ? */
}

/* header */

.header {
  position: fixed; /* fixed header at the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
}


/* main content */

.main {
  height: 100vh; 
  background-color: var(--brand-color);
  display: flex;
  justify-content: center; /* horizontally centered */
  align-items: center; /* vertically centered */
}



/* media queries: tablet and desktop styles */
